/*
 * Hi! I'm your stylesheet! I've got some sensible defaults here,
 * but feel free to change me to your heart's content!
 */

* {
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

body {
  background: linear-gradient(#ffffff, #c0c0c0);
  height: 100vh;
  padding: 0;
  margin: 0;
  width: 100vw;
  background-repeat: no-repeat;
  background-attachment: fixed
}

nav {
  align-items: center;
  background-color: #333333;
  color: #c0c0c0;
  display: flex;
  height: 80px;
  padding: 10px;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

p {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#navList li {
  display: inline-flex;
  flex-direction: row;
  padding: 10px;
  justify-content: space-between;
}

#navList a {
  color: #c0c0c0
}

.profileImage {
  height: 100px
}

.singleImage {
  height: 250px;
  margin-top: 15px;
  margin-bottom: 25px
}

.profileList {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
}

.profileSingle {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.profileElem {
  padding: 10px
}

.description {
  margin-left: 20vw;
  margin-right: 20vw;
  text-align: center
}

.smallText {
  font-style: italic;
  font-size: 10pt;
  margin: 0px
}

.pageTitle {
  margin: 5px
}

.viewLink {
  margin-bottom: 30px
}

#closeLink {
  margin-bottom: 0px
}

.enrolledStudents {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  padding: 0px
}

.enrollLink {
  font-weight: bold
}

#studentCampusLink {
  margin-left: 5px
}
